.follow-link-match {
    background: yellow;
}

.follow-link-selected {
    background: greenyellow;
}

.follow-link-hint {
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    padding: 4px;
    background: yellow;
    color: black;
    border: solid 1px black;
}

.follow-link-hidden {
    display: none;
}