.follow-link-match {
    background: lightyellow;
}

.follow-link-selected {
    background: yellow;
}

.follow-link-hint {
    position: fixed;
    top: 0;
    left: 0;
    padding: 4px;
    background: yellow;
    color: black;
}

.follow-link-hidden {
    display: none;
}